


<div class="footer">
  <ul class="sociallist list-inline">
    <li class="lilist"><i class="fa fa-facebook-official  fa-2x" aria-hidden="true"></i></li>
    <li class="lilist"><i class="fa fa fa-twitter-square  fa-2x" aria-hidden="true"></i></li>
    <li class="lilist"><i class="fa fa fa-github-square  fa-2x" aria-hidden="true"></i></li>
  </ul>


  <div class="text-center padded" id="newsletter" style="margin-top: -50px;">
    <h2>Get news from us</h2>
    <p>Leave us your mail and get news from us</p>
    <form class="form-inline">
      <input type="email" placeholder="bob@gmail.com" class="form-control">
      <input type="submit" value="Subscribe" class="btn btn-primary">
    </form>
  </div>
</div>
